server:
  port: 8000

spring:
  application:
    name: yaprj-backend
  
  jackson:
    property-naming-strategy: SNAKE_CASE
  
  datasource:
    url: jdbc:mysql://localhost:3307/yaprj?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: test_admin
    password: 1111
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
  
  data:
    redis:
      host: localhost
      port: 6379
  
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

app:
  jwt:
    secret: sldiel3slFFos3klsipwcmdksldkkskf883kdqkdsdfDFsjklUYGKdsdfjkl
    access-token-expiration: 900000
    refresh-token-expiration: 604800000
    admin-token-expiration: 86400000
  
  cors:
    allowed-origins:
      - http://localhost:3000
      - http://localhost:9000
  
  frontend-url: http://localhost:9000

springdoc:
  swagger-ui:
    path: /docs
  api-docs:
    path: /api-docs

logging:
  level:
    com.yaprj: DEBUG
    org.hibernate.SQL: DEBUG
